@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;400;500;700;900&display=swap');
/* Simpel Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

:root{
    --mainAccent: #EC2854;
    --lighterAccent: #F15478;
    --black:#0D0D0D;
    --darker:#1F1F1F;
    --dark:#1F1F1F;
    --greyer:#363636;
    --grey:#4D4D4D;
}   

body{
    color: white;
    background-color: var(--black);
}
main{
    height: 100vh;
    width: 100vw;
  
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.generator-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--darker);
}

.main-icon{
    display: inline-block;
    width: 5rem;
    height: 4rem;
    background-image: url("../image/mainlogo.svg");
    margin: -1.25rem 0;
    margin-right: -1.5rem;
    background-size: 100% 100%;
    /* background-color: var(--dark); */
    background-position: center bottom;
    background-repeat: no-repeat;
    transform: scale(1.4);
    transform-origin: center bottom;
}

.title-section{
    background-color: var(--darker);
    padding: 1em;
    margin: 1em;
}

    .title{
        text-align: center;
    }

.configuration{
    background-color: var(--greyer);
    padding: 1rem;
    min-width: 80%;
    border-radius: 1vmin;
}

